# Ensure all text files use LF line endings
* text=auto

# Specific text file types
*.php text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.txt text eol=lf
*.sql text eol=lf

# Linguist settings
* linguist-vendored
*.php linguist-vendored=false
